.footer {
    background-color: var(--color-bg);
    padding-top: 150px;
    min-height: 100%;

    @include desktop {
        &__container {
            display: flex;
            flex-direction: column;
            align-items: center
        }
    }

    &__wrapper {
        &-heading {
            @include font-size(32, 64);

            max-width: 760px;
            text-transform: uppercase;
            font-weight: bold;
            color: var(--color-white);
            margin-bottom: 25px;
        }

        &-text {
            opacity: 0.5;
        }

        &-description {
            @include font-size(16, 16);

            max-width: 810px;
            color: var(--color-white);
            margin-bottom: 50px;
        }
    }

    &__contact {
        display: flex;
        justify-content: space-between;
        row-gap: 30px;
        margin-bottom: 150px;
        flex-wrap: wrap;

        @include desktop {
            justify-content: center;
            column-gap: 30px;
        }

        &-description {
            @include font-size(24, 24);
            font-weight: bold;
            text-transform: uppercase;
            max-width: 548px;
            margin-top: 50px;
            margin-bottom: 50px;
            padding-inline: 50px;
        }

        &-text {
            font-weight: bold;

            &--pink {
                color: var(--color-bg);
            }

            &--green {
                color: var(--color-bg-alt);
            }
        }


        &-form {
            display: flex;
            flex-direction: column;
            background-color: var(--color-white);

            @include border-radius(var(--border-radius-md));

            @include tablet {
                padding-inline: 60px;
            }

            @include phone {
                padding-inline: 0px;
            }

            &-inputs {
                display: flex;
                flex-direction: column;
                row-gap: 15px;
                padding-inline: 50px;
                margin-bottom: 25px;

            }
        }

        &-name,
        &-email,
        &-comment {
            border: 1px solid rgb(202, 202, 202);
            @include border-radius(var(--border-radius-md));
            height: 52px;
            padding-inline: 16px;

            &::placeholder {
                color: #000;
            }
        }

        &-comment {
            height: 100px;
            resize: none;
            padding-top: 16px;
        }

        &-button {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 300px;
            margin-inline: auto;
            padding: 16px 225px;
            margin-bottom: 50px;
            border: none;
            color: var(--color-white);
            background-color: var(--color-bg-alt);
            transition: var(--transition-duration);

            @include border-radius(var(--border-radius-md));

            @media (max-width: 576px) {
                padding: 16px 0px;
                max-width: 200px;
            }

            &:hover {
                scale: 1.05;
                background-color: var(--color-bg);
            }
        }
    }

    &__socials {
        display: flex;
        flex-direction: column;
        padding-inline: 60px;
        padding-bottom: 50px;
        background-color: var(--color-bg-alt);

        @include border-radius(var(--border-radius-md));

        @include tablet {
            padding-inline: 120px;
        }

        @include phone {
            padding-inline: 60px;
        }

        @media (max-width: 576px) {
            padding-inline: 0px;
            width: 100%;
            align-items: center;
        }

        &-image {
            margin-top: 50px;
            margin-bottom: 50px;

            @media (max-width: 567px) {
                width: 70%;
                height: 70%;
            }
        }

        &-text {
            margin-bottom: 15px;

            @include font-size(18, 18);
            color: rgb(225, 225, 225);
            opacity: 0.5;
        }

        &-links {
            max-width: 380px;

            @media (max-width: 567px) {
                text-align: center;
            }
        }

        &__item {
            @include font-size(32, 32);

            color: var(--color-white);
            font-weight: bold;
            transition: var(--transition-duration);

            @media (max-width: 567px) {
                @include font-size(24, 24);
            }
        }
    }

    &__under {
        display: flex;
        justify-content: space-between;
        margin-bottom: 125px;
        color: var(--color-white);

        @include desktop {
            column-gap: 140px;
        }

        &-left {
            &-image {
                display: inline-block;
                margin-bottom: 25px;
            }

            &-text {
                @include font-size(18, 18);

                max-width: 370px;
            }
        }

        &-list {
            @include font-size(32, 32);

            display: flex;
            flex-direction: column;
            row-gap: 25px;
            text-transform: lowercase;
        }

        &-link {
            color: var(--color-white);
        }

        &-right {
            max-width: 250px;
        }

    }

    &__right-phone {
        display: inline-block;
        color: var(--color-white);
        margin-bottom: 25px;
    }

    &__right-adress {
        font-style: normal;
    }

    &__down {
        display: flex;
        justify-content: space-between;
        opacity: 0.5;
        min-height: 30px;

        &-link {
            color: var(--color-white);
        }

        &-logo {
            color: var(--color-white);
        }
    }
}