$desktop-over: 1440px;
$desktop: 1310px;
$tablet: 1220px;
$phone: 768px;
$phone-sm: 390px;

/*Медиа-Запросы для ПК*/
@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

/*Медиа-Запросы для ПК*/
@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

/*Медиа-Запросы для Планшета*/

@mixin phone {
  @media (max-width: $phone) {
    @content;
  }
}

/*Медиа-Запросы для Планшета*/

/*Медиа-Запросы для Телефонов*/
@mixin phone-sm {
  @media (max-width: $phone-sm) {
    @content;
  }
}

/*Медиа-Запросы для Телефонов*/

/*Спецефичные Медиа-Запросы*/
@mixin desktop-over {
  @media (min-width: $desktop-over) {
    @content;
  }
}

@mixin tablet-over {
  @media (min-width: $tablet) {
    @content;
  }
}

/*Спецефичные Медиа-Запросы*/