:root {
  /*Цвета*/
  --color-dark: #141414;
  --color-white: #fbfbfb;
  --color-bg: #7a3145;
  --color-bg-alt: #576f35;
  /*Цвета*/

  /*Величины*/
  --container-width: 1280px;
  --container-padding-x: 20px;
  --border-radius-sm: 15px;
  --border-radius-md: 30px;
  --border-radius-lg: 100px;
  --transition-duration: 0.2s;
  /*Величины*/

}
